<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Php-programmer-community by shahariaazam</title>

    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/bootstrap-responsive.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="http://shahariaazam.github.com/PHP-Programmer-Community">PHP Community FAQ</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="">
                        <a href="http://shahariaazam.github.com/PHP-Programmer-Community/">Home</a>
                    </li>
                    <li class="active">
                        <a href="http://shahariaazam.github.com/PHP-Programmer-Community">All Faqs</a>
                    </li>
                    <li class="">
                        <a href="#">About Us</a>
                    </li>
                    <li class="">
                        <a href="#">How to Contribute</a>
                    </li>
                    <li class="">
                        <a href="https://plus.google.com/u/0/communities/104245651975268426012">Meet Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span4">
            <div class="site-navigation">
                <br><br>
                Last Updated: {{ site.time }}
                <h3>Navigate FAQs</h3>
                <hr>
                <ul>
                    <li><a href="/#site-header">Welcome</a></li>
                    {% assign lastIsChild = false %}
                    {% for post in site.posts reversed %}
                    {% if post.isChild and lastIsChild != true %}<ul>{% endif %}
                    {% if lastIsChild and post.isChild != true %}</ul>{% endif %}
                    <li><a href="#{{ post.slug | downcase | replace:' ','_' | replace:'(','' | replace:')','' | replace:'.','' | replace:'-','' }}">{{ post.anchor }}</a>
                        {% assign lastIsChild = post.isChild %}
                        {% endfor %}
                    <li><a href="#credits">Credits</a></li>
                </ul>
            </div>

        </div>
        <div class="span8">
            <a class="fork-us" href="https://github.com/shahariaazam/PHP-Programmer-Community">
                <img src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub">
            </a>
            <center>
                <h1>Open FAQ<br>for PHP Programmers</h1>
                <small>Developed by: <a href="https://plus.google.com/u/0/communities/104245651975268426012">G+ Community</a></small>
                <br><br>
            </center>
            {{content}}
        </div>
    </div>
</div>
<footer class="footer" id="GlobalFooter">
    <div class="container">
        <h2 class="epsilon">Created by</h2>
        <ul class="nav">
            <li><a href="https://github.com/Faryshta">Faryshta Mextly</a></li>
        </ul>

        <h2 class="epsilon">Project Contributors</h2>
        <ul class="nav">
            <li><a href="https://github.com/oaass">Ole Aass</a></li>
            <li><a href="http://www.shahariaazam.com">Shaharia Azam</a></li>
        </ul>

        <h2 class="epsilon">Project Credits</h2>
        <div id="contributors"><p>This project would not be possible without the help of <a href="https://github.com/Faryshta/PHP-Programmer-Community/graphs">our amazing contributors</a> on GitHub.</p></div>

        <p>
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png"></a><br><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">PHP Programmers Community FAQ</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.twitter.com/codeguy" property="cc:attributionName" rel="cc:attributionURL">Faryshta Mextly</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.
        </p>
    </div>
</footer>
</body>
</html>